*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#top-wrapper{
  max-height: 350px;
  background: red;
  height: 100%;
  width: 100%;
  background: url('img/cover.jpg');
  color: white;
}
#top-wrapper h1{
 text-shadow: rgb(85, 85, 85) 0px 0px 5px; 
}

#top-wrapper .container-fluid{
  padding: 20px;
}
.travelad-btn{
  border: 1px solid white;
  border-radius: 25px;
}
#top-wrapper .row{
  margin: 0px;
}
#top-wrapper a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
#top-wrapper li{
  list-style-type: none;
  margin-right: 5px;
  margin-left: 5px;
}
#top-wrapper .input-group{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#top-wrapper .input-group-prepend, #top-wrapper .form-control, #top-wrapper .input-group-text  {
  background-color: white;
  border: none; 

}

#top-wrapper .input-group-prepend{
  border-radius: 10px;
}
#top-wrapper .lower-banner{
  margin-top: 50px;
}